section {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  text-align: left;
  flex-basis: 100%;
}

.explore-event-link {
  font-size: 15px;
  font-weight: normal;
  margin: 30px;
  flex-basis: 100%;
  text-align: right;
}

.section-description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.opportunity-section,
.recognition-section,
.education-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  flex-basis: 100%;
}

.opportunity-section div,
.recognition-section div,
.education-section div {
  flex-basis: 100%;
}

.section-title,
.section-description {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  align-items: flex-start;
}

.section-description {
  align-items: flex-start;
}