.containernew {
	margin: 0 auto;
	max-width: 90%;
    flex-direction: row;
	color: white;
	
}
.navbg{
	background-color: rgba(0, 0, 0);
	
	
}
/* .navbg a{
	color:#FFFFFF;
} */
.navbg1{
	background-color: rgba(0, 0, 0, 0.1);
	
}

.active1 {
	background-color: #FFFFFF;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	
}

.navnew {

	
	left: 0;
	z-index: 99;
	position: fixed;
	right: 0;
	top: 0;
    /* opacity: 0.9; */
	transition: all 0.3s ease-in-out;
}

.navnew .containernew {
	align-items: center;
	justify-content: space-between;
	/* padding: 0 0; */
	transition: all 0.3s ease-in-out;
}

.navnew ul {
	align-items: center;
	
	/* display: flex; */
    padding-top: 5px;
	justify-content: center;
	list-style-type: none;
}
.navnew li{
	display: inline-block;
	
}

.navnew a {
	color: #FFFFFF;
	padding: 1px 15px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.active1 {
	background-color: #FFFFFF;
	box-shadow: 0 0px 3px rgba(0, 0, 0);
}

.active1 a {
	color: #000000;
}

.navnew.active .containernew {
padding: 3px 0;
}

.navnew a.active
{
/* color: #3498db; */
color: #ae67fa;
text-decoration: none;
font-weight: bold;
}
.navnew a:hover {
	color: #ae67fa;
	text-decoration: none;
	font-weight: bold;
}
.w-100w {
	width: 100vw;
}